# Включаем переадресацию принудительно, по умолчанию если не включено
# Переадресация от корня сайта

RewriteEngine On 
RewriteBase /  

# RedirectMatch ^/image/bgs/(.+)\.png$ http://google.com/search?q=$1


# Переадресация на страницу 404, если введенный адрес не является директорией и файлом
RewriteCond %{REQUEST_FILENAME}  !-d 
RewriteCond %{REQUEST_FILENAME}  !-f
RewriteRule .+ 404.php [L]

# Либо сокр.запись переадресации на 404
#ErrorDocument 404 /404.php

#ЧПУ

